@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  body {
    overscroll-behavior: none;
    background-color: theme('colors.background');
    color: theme('colors.on-surface');
  }
  main > :first-child {
    margin-top: 0 !important;
  }
  main > :last-child {
    margin-bottom: 0 !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

.glow-ai {
  box-shadow: 0 0 15px rgba(1, 232, 255, 0.4);
  border: 1px solid rgba(1, 232, 255, 0.5);
}
